/*==============================================================================
======================= Basic Css Styele ======================================
===============================================================================*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.clear {
  content: "";
  clear: both;
}

/*==============================================================================
======================= Basic Css Styele ======================================
===============================================================================*/

/*==============================================================================
=======================  Header top section ====================================
===============================================================================*/

#header-top {
  width: 100%;
  height: 50px;
  background-color: #f5fbff;
  display: flex;
}
.header {
  width: 1115px;
  height: auto;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header ul li {
  display: inline;
  margin-right: 12px;
  font-family: "Poppins", sans-serif;
  outline: none;
  border: none;
}

.header-left ul li a {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #c7c7c7;
}

.header-left ul li a {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
  color: #c7c7c7;
}

.header-left ul li a:hover {
  color: #007bff;
}

.header-right ul li i {
  color: #5db2ff;
  margin-right: 12px;
  font-size: 13px;
}
.header-right ul li a {
  font-size: 13px;
  color: #919191;
}

.header-right ul li .fa-solid {
  margin-left: 50px;
}

.header-left {
  width: 30%;
  float: left;
  text-align: left;
  background-color: #f5fbff;
}

.header-right {
  width: 70%;
  float: right;
  text-align: right;
}

/*==============================================================================
======================= Navbars icon area ======================================
===============================================================================*/

#check {
  display: none;
}

.checkbox {
  width: 100%;
  display: block;
  text-align: right;
  background-color: #4c4c4c;
  padding: 10px;
}

.checkbox h1 {
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  line-height: 1.5rem;
  padding: 7px 12px;
  display: inline-block;
  background-color: black;
  border-radius: 5px;
}

.checkbox h1 i {
  margin-left: 5px;
}

.checkbox {
  display: none;
}

/*==============================================================================
======================= header navbar section ======================================
===============================================================================*/

#Header {
  width: 100%;
  height: 80px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  display: flex;
  align-items: center;
}

.navBars {
  width: 1115px;
  height: auto;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbars ul li {
  display: inline-block;
  padding: 0px 15px;
  position: relative;
}

.navbars ul li a {
  color: #727272;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  line-height: 1.5rem;
  text-transform: capitalize;
  display: block;
}

.navbars ul li a:hover {
  color: black;
}

.btn button {
  padding: 12px 26px;
  background-color: #41a2fe;
  color: white;
  border: 1px solid #41a2fe;
  border-radius: 3px;
  outline: none;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.btn button:hover {
  color: #41a2fe;
  background-color: white;
}

/*==============================================================================
======================= dropdown section ======================================
===============================================================================*/

.navbars ul li .dropdown-1 {
  width: 150px;
  height: auto;
  text-align: left;
  background-color: white;
  z-index: 10000;
  position: absolute;
  border-radius: 5px;
  display: none;
}

.navbars ul li .dropdown-1 li {
  display: block;
  background-color: white;
  margin-top: 0px;
}

.navbars ul li .dropdown-1 li a {
  display: block;
  padding: 5px 5px;
  color: black;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  line-height: 1.5rem;
  text-transform: capitalize;
  display: block;
  overflow: hidden;
}

.navbars ul li:hover .dropdown-1 {
  display: block;
}

.navbars ul li .dropdown-2 {
  width: 150px;
  height: auto;
  text-align: left;
  background-color: white;
  z-index: 10000;
  position: absolute;
  border-radius: 5px;
  display: none;
}

.navbars ul li .dropdown-2 li {
  display: block;
  background-color: white;
  margin-top: 0px;
}

.navbars ul li .dropdown-2 li a {
  display: block;
  padding: 5px 5px;
  color: black;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  line-height: 1.5rem;
  text-transform: capitalize;
  display: block;
  overflow: hidden;
}

.navbars ul li:hover .dropdown-2 {
  display: block;
}

/*==============================================================================
======================= Hero sectin  ======================================
===============================================================================*/

#Hero {
  width: 100%;
  height: 700px;
  background-image: url(/Image/xbanner2.png.pagespeed.ic.B9cM6-Ibkd.webp);
  background-size: cover;
  display: flex;
  align-items: center;
}

.hero-content {
  flex-direction: column;
  width: 1115px;
  height: auto;
  margin: 0 auto;
  text-align: left;
}

.hero-content h1 {
  color: #1f1f1f;
  font-family: "Poppins", sans-serif;
  font-size: 70px;
  text-transform: capitalize;
  letter-spacing: 2px;
  line-height: 3.5rem;
}

.hero-content h2 {
  color: #1f1f1f;
  font-family: "Poppins", sans-serif;
  font-size: 70px;
  font-weight: 300;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.hero-content p {
  width: 500px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #727272;
  margin-bottom: 40px;
}

.hero-content a {
  color: white;
  background: linear-gradient(to right, #0181f5 0%, #5db2ff 100%);
  display: inline-block;
  padding: 18px 44px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
  border: 0;
  border: 1px solid transparent;
  border-radius: 3px;
}

.hero-content a:hover {
  color: #0181f5;
  background: white;
  border: 1px solid #0181f5;
  transition: all 0.3s;
}

/*==============================================================================
======================= Service Section ======================================
===============================================================================*/

#Service {
  width: 100%;
  height: 335px;
  background-color: #83c4ff;
}
.service-main {
  width: 1115px;
  height: auto;
  margin: 0 auto;
}
.left,
.right,
.center {
  width: 320px;
  float: left;
  margin-right: 20px;
  text-align: left;
  padding-top: 50px;
}

.center {
  background-color: #5db2ff;
  width: 380px;
  height: 335px;
  padding-left: 22px;
}

.service-main i {
  font-size: 50px;
  color: #fff;
  margin-bottom: 10px;
}

.service-main h1 {
  font-size: 26px;
  font-weight: 500;
  color: #fff;
}

.service-main p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 26px;
}

.service-main a {
  display: inline-block;
  padding: 9px 24px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  border: 0;
  border: 1px solid #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  color: #fff !important;
  text-transform: capitalize;
  background-color: transparent;
}

.service-main a:hover {
  color: #0181f5 !important;
  background: white;
  border: 1px solid transparent;
  transition: all 0.3s;
}
/*==============================================================================
======================= DocMed section css style start ========================
===============================================================================*/

#docmed {
  width: 100%;
  height: 700px;
  display: flex;
  margin-top: 120px;
}

.docmed-main {
  width: 1115px;
  height: auto;
  margin: 0 auto;
  display: flex;
}

.docmed-left {
  width: 650px;
  height: auto;
}

.img-1 {
  position: relative;
}

.img-1 img {
  width: 320px;
  height: 390px;
}

.img-2 {
  position: absolute;
  top: 20%;
  left: 32%;
}

.img-2 img {
  width: 320px;
  height: 390px;
}

.ducmed-right {
  width: 450px;
}

.ducmed-right h4 {
  font-size: 18px;
  font-weight: 400;
  color: #1f1f1f;
  margin-bottom: 40px;

  z-index: 9;
  padding-bottom: 3px;
}

.ducmed-right h1 {
  color: #1f1f1f;
  margin-bottom: 40px;
  line-height: 1.2em;
  font-weight: 500;
  font-size: 36px;
  margin-bottom: 10px;
}

.ducmed-right p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #4d4d4d;
  margin-bottom: 13px;
  font-family: "Poppins", sans-serif;
}

.ducmed-right ul {
  margin-bottom: 40px;
  margin-top: 25px;
}

.ducmed-right ul i {
  font-size: 16px;
  line-height: 28px;
  margin-right: 10px;
  color: #5db2ff;
}

.ducmed-right ul li {
  color: #727272;
  font-size: 16px;
  line-height: 28px;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-style: normal;
}

.ducmed-right a {
  color: #5db2ff !important;
  display: inline-block;
  padding: 9px 24px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  border: 0;
  border: 1px solid #5db2ff;
  border-radius: 5px;
  text-align: center;
  text-transform: capitalize;
  transition: 0.5s;
  cursor: pointer;
}

.ducmed-right a:hover {
  color: white !important;
  background: #0181f5;
  border: 1px solid transparent;
  transition: all 0.3s;
}

/*==============================================================================
=======================Departements section Style css ========================
===============================================================================*/
#Departments {
  width: 100%;
  height: auto;
  background-color: #f5fbff;
  padding-top: 120px;
  padding-bottom: 90px;
}

.departments-main {
  width: 1115px;
  height: auto;
  margin: 0 auto;
}

.departments-main-top {
  text-align: center;
}

.departments-main-top h1 {
  font-size: 36px;
  font-weight: 500;
  line-height: 48px;
  color: #1f1f1f;
  padding-bottom: 15px;
  font-family: "Poppins", sans-serif;
}

.departments-main p {
  font-size: 16px;
  color: #727272;
  line-height: 28px;
  margin-bottom: 13px;
  font-family: "Poppins", sans-serif;
  width: 450px;
  margin: 0 auto;
}

.departments-flexbox {
  padding-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.flexbox {
  display: flex;
  flex-direction: column;
  width: 340px;
  height: 410px;
  border-radius: 8px;
  background-color: #ffffff;
  background-size: cover;
  border: 1px solid transparent;
  margin-right: 30px;
  margin-bottom: 30px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  overflow: hidden;
  position: relative;
}

.flexbox img {
  vertical-align: middle;
  border-style: none;
}
.flexbox img:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.flexbox h1 {
  font-size: 22px;
  color: #1f1f1f;
  line-height: 33px;
  font-weight: 500;
  padding: 10px 20px;
  display: inline;
  font-family: "Poppins", sans-serif;
}

.flexbox h1:hover {
  color: #007bff;
}

.flexbox p {
  font-size: 16px;
  line-height: 28px;
  color: #727272;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 20px;
  padding-right: 120px;
  font-family: "Poppins", sans-serif;
}

.flexbox a {
  padding-left: 20px;
  color: #5db2ff;
  text-decoration: none;
  background-color: transparent;
  font-family: "Poppins", sans-serif;
  display: inline;
  font-size: 16px;
  line-height: 1.5rem;
}
.flexbox a:hover {
  text-decoration: underline;
}
/*==============================================================================
=======================Testomonials section=============================
===============================================================================*/

.testomonials-main-content {
  width: 100%;
  height: 630px;
  position: relative;
  background-image: url(/Image/Qoutes.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.testomonials-main-content::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.05);
}

.testomonials-all {
  text-align: center;
  width: 1000px;
  height: auto;
  margin: 0 auto;
}

.testomonials-all i {
  font-size: 80px;
  color: white;
}

.testomonials-all p {
  text-align: center;
  width: 800px;
  color: #fff;
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  margin-top: 12px;
  margin-bottom: 47px;
}

.testomonials-all h1 {
  color: #0181f5;
  font-size: 40px;
  line-height: 4rem;
  font-family: Arial, Helvetica, sans-serif;
}

/*==============================================================================
=======================Tabs section=============================
===============================================================================*/

.tabs-section {
  width: 100%;
  height: 100px;
  background-color: #f5fbff;
}
.tabs-section ul {
  width: 1115px;
  height: auto;
  margin: 0 auto;
}
.tabs-section ul li {
  display: inline-block;
  font-size: 20px;
  font-weight: 400;
  color: #1f1f1f;
  margin-right: 160px;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  padding: 40px 0px;
}

.tabs-container {
  width: 1115px;
  height: 600px;
  margin: 0 auto;
}

.tabs-left {
  width: 550px;
  height: auto;
  float: left;
  margin-top: 100px;
}

.tabs-left i {
  background: #5db2ff;
  width: 75px;
  height: 75px;
  display: inline-block;
  color: #fff;
  font-size: 35px;
  text-align: center;
  line-height: 75px;
  border-radius: 50%;
}

.tabs-left h1 {
  font-size: 20px;
  font-weight: 500;
  color: #1f1f1f;
  margin-top: 16px;
  margin-bottom: 14px;
}

.tabs-left p {
  color: #727272;
  line-height: 28px;
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #4d4d4d;
  margin-bottom: 13px;
  font-family: "Poppins", sans-serif;
}

.tabs-right {
  width: 500px;
  height: auto;
  float: right;
  margin-top: 50px;
  margin-left: 10px;
}

/*==============================================================================
=======================Tabs section=============================================
===============================================================================*/

.expert-container {
  width: 100;
}

.expert-container {
  width: 1115px;
  height: auto;
  margin: 0 auto;
  margin-top: 100px;
}

.expert-container h1 {
  font-size: 36px;
  font-weight: 500;
  color: #1f1f1f;
}

.expert-box {
  width: 1115px;
  height: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.expert-box-content {
  display: flex;
  flex-direction: column;
  width: 255px;
  height: 325px;
  margin-right: 23px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #d9e8f8;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.expert-box-content:hover {
  background-color: #5db2ff;
}

.content-img img {
  width: 255px;
  height: 242px;
  overflow: hidden;
  border: 1px solid transparent;
  outline: none;
}

.content-img img:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.expert-box-content h1 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 1px;
  font-family: "Poppins", sans-serif;
  color: #1f1f1f;
  transition: 0.3s;
  text-align: center;
  margin-top: 10px;
}

.expert-box-content p {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  transition: 0.3s;
}

.expert-box-content:hover h1 {
  color: white;
}
.expert-box-content:hover p {
  color: white;
}

/*==============================================================================
=======================Appointment Section style===============================
===============================================================================*/

#appointment {
  margin-top: 50px;
}

.appointment-left {
  width: 50%;
  height: 250px;
  background-image: url(/Image/bottom\ top\ 1.webp);
  background-repeat: no-repeat;
  background-size: cover;

  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.appointment-all-content {
  margin-right: 50px;
}

.appointment-all-content h1 {
  font-size: 26px;
  font-weight: 500;
  color: #fff;
  line-height: 1.2rem;
}

.appointment-all-content p {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 0;
  line-height: 1.2rem;
  margin-top: 10px;
}
.appointment-btn a {
  color: #fff;
  display: inline-block;
  padding: 9px 24px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
  border: 1px solid #fff;
  border-radius: 50px;
  text-align: center;
  color: #fff !important;
  text-transform: capitalize;
  transition: 0.5s;
  cursor: pointer;
}

.appointment-btn a:hover {
  background-color: white;
  color: #0b81ff !important;
}

.appointment-right {
  width: 50%;
  height: 250px;
  background-image: url(/Image/bottom\ top\ 2.webp);
  background-size: cover;
  background-repeat: no-repeat;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*==============================================================================
=======================Footer sectin started===================================
===============================================================================*/

#footer {
  width: 100%;
  height: 550px;
  background-color: #1f1f1f;
  padding: 150px 0px;
}

.footer-box-main {
  width: 1115px;
  height: auto;
  margin: 0 auto;
}

.footer-box-1 {
  width: 380px;
  height: auto;
  float: left;
}

.footer-box-1 img {
  margin-bottom: 40px;
}

.footer-box-1 p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #c7c7c7;
  margin-bottom: 13px;
  font-family: "Poppins", sans-serif;
}

.footer-box-1 ul {
  margin-top: 40px;
}

.footer-box-1 ul li {
  display: inline-block;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  background-color: #707070;
  border-radius: 7px;
  text-align: center;
}

.footer-box-1 ul li a {
  font-size: 16px;
  color: #bababa;
  padding-top: 5px;
  line-height: 42px;
  margin-top: 30px;
}
.footer-box-1 ul li a i:hover {
  color: white;
  transition: 0.3s;
}

/* box----2 */

.footer-box-2 {
  width: 160px;
  float: left;
  margin-left: 50px;
}
.footer-box-2 h1 {
  font-size: 22px;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 40px;
  line-height: 1.2rem;
}

.footer-box-2 ul li {
}

.footer-box-2 ul li a {
  font-size: 16px;
  color: #bababa;
  line-height: 42px;
}

.footer-box-2 ul li a:hover {
  color: #007bff;
  transition: 0.3s;
}

.footer-box-4 {
  width: 285px;
  height: auto;
  float: right;
}

.footer-box-4 h1 {
  font-size: 22px;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 40px;
  line-height: 1.2rem;
}

.footer-box-4 p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: white;
  margin-bottom: 13px;
  font-family: "Poppins", sans-serif;
}

.footer-bottom {
  width: 100%;
  height: 90px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-bottom h1 {
  font-size: 16px;
  color: #919191;
  margin-bottom: 0;
  font-weight: 400;
}

/*==============================================================================
=======================Resposive Area Started All Media ========================
===============================================================================*/

/*==============================================================================
=======================header top section responsive=============================
===============================================================================*/

@media (max-width: 786px) {
  #header-top {
    width: 100%;
    height: 70px;

    align-items: center;
    justify-content: center;
  }

  .header {
    width: 100%;
    height: auto;
    display: block;
  }

  .header-left {
    width: 100%;
    text-align: center;
  }

  .header-right {
    width: 100%;
    text-align: center;
  }

  .header-right ul li .fa-solid {
    margin-left: 5px;
  }
}

/*==============================================================================
=======================Responsive nav bar=======================================
===============================================================================*/

@media (max-width: 768px) {
  .navBars {
    display: block;
  }
  .btn button {
    display: none;
  }

  .logo {
    width: 100%;
    display: block;
    height: auto;
    text-align: left;
    padding-left: 5px;
    padding-bottom: 0;
  }

  .checkbox {
    display: block;
  }

  #Header {
    width: 100%;
    height: 120px;
  }

  label {
    width: 100%;
    display: block;
  }

  .navbars ul {
    position: fixed;
    width: 100%;
    height: 30vh;
    text-align: center;
    background-color: #4c4c4c;
    left: -200%;
    transition: all 0.8s;
    padding-top: 15px;

    cursor: pointer;
  }

  .navbars ul li {
    display: block;
  }

  .navbars ul li a {
    margin-top: 10px;
    font-size: 16px;
    color: white;
  }
  #check:checked ~ ul {
    left: 0;
  }
}

/*==============================================================================
=======================Hero section resposive===================================
===============================================================================*/

@media (max-width: 786px) {
  #Hero {
    display: block;
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    padding-top: 50px;
    background-position: center;
  }

  .hero-content {
    padding-left: 3%;
  }
  .hero-content h1 {
    font-size: 33px;
    line-height: 2rem;
  }

  .hero-content h2 {
    font-size: 33px;
  }

  .hero-content p {
    font-size: 16px;
    padding-right: 100px;
  }

  .hero-content a {
    margin-bottom: 70px;
  }
}

/*==============================================================================
=======================Service section resposive===================================
===============================================================================*/
@media (max-width: 768px) {
  #Service {
    width: 768px;
    height: auto;
    overflow: hidden;
  }

  .left,
  .right,
  .center {
    display: block;
    width: 100%;
    height: auto;
    padding-left: 20px;
    padding-bottom: 30px;
    padding-right: 58%;
  }
}

/*==============================================================================
=======================DocMed section Responsive===================================
===============================================================================*/
@media (max-width: 768px) {
  #docmed {
    width: 768px;
    height: auto;
    display: flex;
  }

  .docmed-main {
    width: 768px;
    height: auto;
    flex-direction: column;
    overflow-x: hidden;
  }

  .docmed-left {
    width: 768px;
    height: auto;
    display: block;
    overflow: hidden;
  }

  .img-1 img {
    width: 450px;
    height: auto;
    margin-left: 15px;
    overflow: hidden;
  }

  .img-2 {
    display: none;
  }

  .ducmed-right {
    position: relative;
    width: 768px;
    height: auto;
    margin-left: 15px;
    overflow: hidden;
  }

  .ducmed-right h4 {
    font-size: 18px;
    font-weight: 400;
    color: #1f1f1f;
    margin-top: 30px;
    overflow: hidden;
  }

  .ducmed-right h1 {
    color: #1f1f1f;
    width: 400px;
    line-height: 1.2em;
    font-weight: 500;
    font-size: 30px;
    overflow: hidden;
  }

  .ducmed-right p {
    width: 450px;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    color: #4d4d4d;
    margin-bottom: 13px;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
  }

  .ducmed-right ul {
    width: 500px;
    height: auto;
  }

  .ducmed-right ul i,
  li {
    font-size: 16px;
    line-height: 1.5rem;
    margin-right: 10px;
    color: #5db2ff;
  }

  .ducmed-right ul li {
    color: #727272;
    font-size: 16px;
    line-height: 1.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-style: normal;
  }
}

/*==============================================================================
======================= Departments section Responsive===================================
===============================================================================*/

@media (max-width: 768px) {
  #Departments {
    width: 500px;
    height: auto;
    background-color: #f5fbff;
    padding-top: 80px;
    padding-bottom: 90px;
    margin-top: 50px;
  }

  .departments-main {
    width: 500px;
    height: auto;
    margin: 0 auto;
  }

  .departments-main-top {
    text-align: center;
  }

  .departments-main-top h1 {
    font-size: 36px;
    font-weight: 500;
    line-height: 48px;
    color: #1f1f1f;
    padding-bottom: 15px;
    font-family: "Poppins", sans-serif;
  }

  .departments-main p {
    font-size: 16px;
    color: #727272;
    line-height: 28px;
    margin-bottom: 13px;
    font-family: "Poppins", sans-serif;
  }

  .flexbox {
    width: 450px;
    height: 480px;
    border-radius: 8px;
    background-color: #ffffff;
    background-size: cover;
    border: 1px solid transparent;
    margin-right: 5px;
    margin-bottom: 30px;
    margin-left: 5px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    overflow: hidden;
    position: relative;
  }

  .flexbox h1 {
    font-size: 22px;
  }
  .flexbox p {
    width: 500px;
  }
}

/*==============================================================================
======================= Qoutes section Responsive===============================
===============================================================================*/

@media (max-width: 768px) {
  .testomonials-main-content {
    width: 500px;
    height: 400px;
    text-align: left;
    margin-left: 20px;
  }

  .testomonials-all p {
    text-align: left;
    width: 450px;
    color: black;
    font-size: 20px;
    line-height: 1.5rem;
    font-weight: 400;
    margin: 0 auto;
    margin-top: 20px;
  }

  .testomonials-all h1 {
    color: #0181f5;
    font-size: 40px;
    line-height: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 30px;
  }
}

/*==============================================================================
=======================Tabs Section started===================================
===============================================================================*/

@media (max-width: 768px) {
  .tabs-section {
    width: 550px;
    height: auto;
    display: block;
    padding-left: 20px;
  }

  .tabs-section ul li {
    display: block;
    font-size: 20px;
    font-weight: 400;
    color: #1f1f1f;
    margin-right: 5px;
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    padding: 15px 0px;
  }

  .tabs-left {
    display: block;
    width: 100%;
    height: auto;

    margin-top: 20px;
  }

  .tabs-left p {
    width: 450px;
    height: auto;
  }

  .tabs-right {
    display: block;
    width: 100%;
    height: auto;
    padding: 0px 30px;
    margin-right: 30px;
    margin-top: 5px;
  }
  .tabs-right img {
    width: 500px;
    height: 280px;
  }
}

/*==============================================================================
======================= Expert Box Responsive===================================
===============================================================================*/

@media (max-width: 768px) {
  .expert-container h1 {
    font-size: 24px;
    font-weight: 500;
    color: #1f1f1f;
    margin-left: 20px;
  }

  .expert-box {
    width: 1115px;
    height: auto;
    margin-left: 20px;
    display: block;
  }

  .expert-box-content {
    width: 450px;
    height: 500px;
    margin-top: 10px;
  }

  .expert-box-content img {
    width: 450px;
    height: 420px;
  }
}

/*==============================================================================
======================= Appointment Responsive===================================
===============================================================================*/

@media (max-width: 768px) {
  .appointment-left {
    width: 100%;
    height: 250px;
    display: block;
    padding-top: 80px;
    padding-left: 30px;
  }
  .appointment-all-content p {
    margin-top: 10px;
  }

  .appointment-btn a {
    margin-top: 30px;
  }

  .appointment-right {
    width: 100%;
    height: 250px;
    display: block;
    padding-top: 80px;
    padding-left: 30px;
    background-size: cover;
  }
}
/*==============================================================================
======================= Footer Section Responsive===============================
===============================================================================*/

@media (max-width: 768px) {
  #footer {
    width: 786px;
    height: 1100px;
    background-color: #1f1f1f;
    padding-top: 50px;
  }

  .footer-box-1 {
    width: 768px;
    height: fit-content;
    display: block;
    margin-left: 20px;
  }

  .footer-box-1 p {
    width: 430px;
    height: auto;
    font-size: 16px;
    font-weight: 300;
    line-height: 2rem;
    color: #c7c7c7;
    margin-bottom: 13px;
    font-family: "Poppins", sans-serif;
  }

  .footer-box-1 ul {
    margin-top: 40px;
  }

  .footer-box-1 ul li {
    display: inline-block;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    background-color: #707070;
    border-radius: 7px;
    text-align: center;
  }

  .footer-box-1 ul li a {
    font-size: 16px;
    color: #bababa;
    padding-top: 5px;
    line-height: 42px;
    margin-top: 30px;
  }
  .footer-box-1 ul li a i:hover {
    color: white;
    transition: 0.3s;
  }

  /* box----2 */

  .footer-box-2 {
    width: 768px;
    height: auto;
    display: block;
    margin-left: 20px;
    margin-top: 50px;
  }

  .footer-box-4 {
    display: block;
    width: 500px;
    height: auto;
    margin-left: 20px;
    float: left;
    margin-top: 20px;
  }
  .footer-bottom h1 {
    width: 430px;
    font-size: 14px;
    text-align: center;
  }
}
